* {
  font-family: sans-serif;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#about{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: center;
}

.aboutImage{
  grid-column: 2/3;
  width: 100%;
}

.aboutText{
  grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 2em;
}

.associate{
    display: grid;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

.bachelor{
    display: grid;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

body {
  background-color: rgb(0, 0, 0);
}

.college {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  grid-column-gap: 13em;
  padding: 0em 1em 1em;
}

#education{
  text-align: center;
  display: grid;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
  padding-right: 1em;
}

footer {
  margin-top: 2em;
  margin-bottom: 1em;
  background: #666;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

html {
  font-size: 16px;
  margin-top: 3em;
}

h1,
h2,
h3, h4 {
  text-align: center;
}

h3 {
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 1050px;
}

header {
  color: lime;
  justify-content: space-around;
  padding: 2em 0;
}

header h1 {
  font-size: 4em;
}

header h2{
  font-size: 2em;
}

.landingPage {
    background-color: rgba(169, 169, 169, 0.61);
    border-radius: 8px;
    margin: auto;
    padding: 20px;
    width: 80%;
}

main {
  background-color: wheat;
}

nav {
  position: fixed;
  top: 2px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: #333;
}

nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background: #666;
}

#project1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1em;
  padding: 1em 1em 1em;
}

#project1 article {
  background: whitesmoke;
  padding: 1em;
}

#project1 article img {
  width: 100%;
  border: 1px solid #333;
}

section {
  margin: 1em 0;
  padding-top: 3em;
}

section > p {
  margin: 1em 2em;
}

section ul {
  padding-left: 4em;
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 4em;
  padding-left: 15%;
  justify-content: center;
}

.education__modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: palegreen;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}