* {
  font-family: sans-serif;
  line-height: 1.618em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




html {
  font-size: 16px;
  margin-top: 3em;
}

h1,
h2,
h3 {
  color: #666;
  text-align: center;
}

h3 {
    padding: 1em;
}
header,
main,
footer {
  margin: 0 auto;
  max-width: 1000px;
}

header {
    align-items: center;
    background-color: greenyellow;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
    color: black;
}
header h1 {
  font-size: 3em;
}



nav {
  position: fixed;
  top: 2px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: #333;
}
nav a {
  padding: 0.5em 2em;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background: #666;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section > p{
    margin: 1em 0;
}

section ul{
    padding-left: 1.5em;
}

#project1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    padding-bottom: 3em;
}

#project1 article{
    background: #ccc;
    padding: 1em;
}

#project1 article img{
    width: 100%;
    border: 1px solid #333;
}
#project2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
    padding-bottom: 3em;
}

#project2 article{
    background: #ccc;
    padding: 1em;
}

#project2 article img{
    width: 100%;
    border: 1px solid #333;
}
#project3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#project3 article{
    background: #ccc;
    padding: 1em;
}

#project3 article img{
    width: 100%;
    border: 1px solid #333;
}

footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #666;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: #007BB5;
    color: white;
  }
  .fa-github {
    background: whitesmoke;
    color: black;
    padding-right: 3em;
  }
